.pokemon-container {
  display: flex;
  justify-content: flex-start;
  background-color: #74CB48;
}

.pokemon-image {
  background-image: url('/public/icons/Pokeball_bg.svg');
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;

}

.pokemon-image h2 {
  margin: 131px 0 0 93px;
  color: white;
  width: 312px;
  height: 32px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 32px;
}

.pokemon-image img {
  margin: 0 5px 0px 93px;
}

.pokemon-details {
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-content: space-evenly;
  padding: 0 5%;
}

.pokemon-details .types {
  display: flex;
  justify-content: space-evenly;
  color: white
}

.pokemon-details .types .type-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  width: 83.39px;
  height: 36.26px;
  background: #74CB48;
  border-radius: 50px;
  margin: 0 8px;
}

.type-container span {
  width: 48px;
  height: 16px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  text-align: center;
}

.pokemon-details .about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pokemon-details .about-container h2{
  margin-top: 40px;
  text-align: center;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 16px;
  color: #74CB48;
}

.about-details {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.about-details-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0 50px;
}

.about-details-item img {
  width: 24.04px;
  height: 24.04px;
  margin: 0 auto 10px;
}

.about-details-item span {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
}

.about-details-item h3 {
  margin-top: 10px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: #777777;
}

.separator {
  width: 1px;
  height: 79.71px;
  background-color: #E0E0E0;
}

.stats h2 {
  text-align: center;
  color: #74CB48;
}

.stats-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.stats-names {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  color: #74CB48;
  width: 39%;
  margin: 0 5px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
}

.stats-names .stats-item {
  display: flex;
  justify-content: flex-end;
}

.stats-values {
  display: flex;
  flex-direction: column;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  margin: 0 5px;
}

.stats-progress {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 5px;
}

.stats-item {
  display: flex;
  width: 100%;
  height: 20px;
}